{{ ansible_managed | comment }}
listening-ip 0.0.0.0
listening-port=3478
tls-listening-port=5349
{% if external_ip['content'] != ansible_default_ipv4['address'] %}
external-ip={{ external_ip['content'] }}/{{ ansible_default_ipv4['address'] }}"
{% endif %}
fingerprint
use-auth-secret
static-auth-secret={{ turn_secret }}
realm={{ matrix_fqdn }}
lt-cred-mech
cert=/var/lib/caddy/.local/share/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ matrix_fqdn }}/{{ matrix_fqdn }}.crt
pkey=/var/lib/caddy/.local/share/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ matrix_fqdn }}/{{ matrix_fqdn }}.key
no-multicast-peers
no-cli
