{{ ansible_managed | comment }}
{% if coturn_check.stat.exists %}
{
  events {
    on cert_obtained exec /usr/bin/sudo /usr/local/bin/copy-coturn-cert.sh
  }
}
{% endif %}

{{ matrix_fqdn }}, {{ matrix_fqdn }}:8448 {
  respond /robots.txt "User-agent: *\n Disallow: /" 200

  handle /.well-known/matrix/* {
      reverse_proxy localhost:8008
  }

  reverse_proxy localhost:8008

  header /.well-known/matrix/* Content-Type application/json
  header /.well-known/matrix/* Access-Control-Allow-Origin *
  header /_matrix/static/* X-Frame-Options "ALLOWALL"
  header /_matrix/static/* Content-Security-Policy "frame-ancestors *"
  
}

