{{ ansible_managed | comment }}
[global]
server_name = "{{ matrix_fqdn }}"

database_path = "/var/lib/tuwunel"

address = ["127.0.0.1"]
port = 8008

allow_encryption = true

allow_registration = true
registration_token = "{{ tuwunel_reg_token }}"
new_user_displayname_suffix = ""

allow_federation = true

allow_public_room_directory_over_federation = false

allow_public_room_directory_without_auth = false

require_auth_for_profile_requests = true

turn_allow_guests = false

allow_room_creation = true

allow_unstable_room_versions = false
allow_experimental_room_versions = false

log = "info"

turn_secret = "{{ turn_secret }}"
turn_uris = ["turn:{{ matrix_fqdn }}?transport=udp","turn:{{ matrix_fqdn }}?transport=tcp"]

[global.well_known]
client = "https://{{ matrix_fqdn }}"
server = "{{ matrix_fqdn }}:443"
