---
- name: Install required packages
  ansible.builtin.apt:
    name:
      - coturn
      - acl
    state: present
    update_cache: true

- name: Copy Coturn configuration
  ansible.builtin.template:
    src: turnserver.conf.j2
    dest: /etc/turnserver.conf
    mode: "0640"
    owner: turnserver
    group: turnserver
  notify: Restart coturn

- name: Start Coturn service
  ansible.builtin.systemd:
    name: coturn.service
    state: started
    enabled: true

- name: Grant read access to /var/lib/caddy/.local and subdirectories
  ansible.posix.acl:
    path: /var/lib/caddy/.local
    default: true
    recursive: true
    entity: turnserver
    etype: user
    permissions: r-x
    state: present

- name: Grant read access to Caddy certificate
  ansible.posix.acl:
    path: /var/lib/caddy/.local/share/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ matrix_fqdn }}/{{ matrix_fqdn }}.{{ item }}
    entity: turnserver
    etype: user
    permissions: r--
    state: present
  loop:
    - crt
    - key
